$primary-color: #555559;
// header
$header-nav-color: #2e2e2e;
// intro
$intro-image-color: #969696;
$intro-background-color: #fbfafa;
// hyphen
$hyphen-color: #84959c;
$hyphen-color-hover: #286782;
// buttons
$hame-page-button-color: #286782;
// footer
$border-footer-color: #e9e9e9;
$footer-background-color: #efefef;
